body {
    color: #5cb85c;
    background-color: #1f2021;
    text-align: center;
}

h1 {
    text-align: center;
}

div {
    display: inline-block;
}

pre.code {
    margin: 0 auto;
}

pre {
    min-width: 42em;
    color: #5cb85c;
    text-align: left;
    line-height: 1.2em;
}

pre a:link {
    color: #5cb85c;
}

pre a:visited {
    color: #5cb85c;
}

pre a:hover {
    color: #5cb85c;
}
